body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #322c2b;
}

.logo-canvas {
  border: 1px solid black;
  width: 400px;
  height: 400px;
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 80px;
  width: calc(100% - 40px);
  background-color: #af8260;
  color: #dac3a7;
  z-index: 3;
  box-shadow: #181818 0 0 5px 5px;
}

.top-bar>p {
  font-size: 1.6rem;
  margin-left: 120px;
}

.main-box {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.input-panel {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.code-editor {
  width: 400px;
  height: 300px;
  overflow-y: auto;
  background-color: #e4c59e;
  border-radius: 10px;
  border: 2px solid #814644;
  padding: 2px;
}

.output-panel {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.logo-canvas {
  background-color: white;
}

.logo-exec {
  margin-top: 10px;
  color: #e4c59e;
  background-color: #803d3b;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.logo-exec:hover {
  background-color: #814644;
}

.logo-save {
  margin-top: 10px;
  color: #e4c59e;
  background-color: #803d3b;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.logo-save:hover {
  background-color: #814644;
}

.tooth {
  background-color: #e4c59e;
  width: 60px;
  height: 150px;
  position: absolute;
  top: 0;
  z-index: 2;
  box-shadow: #181818 0 0 5px 5px;
}

.tooth-one {
  left: calc(50% - 50px);
  transform: rotate(10deg);
}

.tooth-two {
  left: calc(50% + 10px);
  transform: rotate(-10deg);
}

.custom-select {
  width: 300px;
  height: 30px;
  border: 1px solid black;
  background-color: #814644;
  color: #e4c59e;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 18px;
}

footer {
  justify-content: space-between;
  padding: 10px;
  background-color: #af8260;
  text-align: center;
  margin-top: 100px;
  color: #dac3a7;
}

.custom-link:link {
  text-decoration: solid;
}

.custom-link:visited {
  color: #dac3a7;
}

.custom-link:hover {
  color: #814644;
}

.button-panel {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

table {
  width: 75%;
  text-align: center;
  border-collapse: collapse;
  margin: auto;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th {
  text-align: left;
  padding: 16px;
}

td {
  text-align: left;
  padding: 16px;
  background-color: #e4c59e;
}

th {
  background-color: #af8260;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.logo-tutorial {
  margin-top: 10px;
  color: #e4c59e;
  background-color: #803d3b;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.logo-exit {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #e4c59e;
  background-color: #803d3b;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}